<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en" ><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 " lang="en" ><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 " lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js " lang="en" ><!--<![endif]-->
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">

    <!-- SITE WIDE META BLOCK START -->
    <meta name="referrer" content="unsafe-url">
    <meta name="apple-mobile-web-app-title" content="Budapest River Cruise">
    <meta name="application-name" content="Budapest River Cruise">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#000000">
    <!-- SITE WIDE META BLOCK END -->

    <!-- SPECIFIC META BLOCK START -->
    <meta name="keywords" content="TEST" />
    <meta name="description" content="TEST" />
    <meta name="author" content="TEST" />
    <meta name="news_keywords" content="TEST" />
    <meta name="m:publication" content="TEST" />
    <meta name="m:publication_local" content="TEST" />

    <meta property="fb:pages" content="TEST" />
    <meta property="og:type" content="TEST" />
    <meta property="og:url" content="TEST/" />
    <meta property="og:title" content="TEST" />
    <meta property="og:updated_time" content="TEST" />
    <meta property="og:description" content="TEST" />
    <meta property="og:image:alt" content="TEST" />
    <meta property="og:image" content="TEST" />
    <meta property="article:publisher" content="TEST" />

    <link rel="alternate" type="application/rss+xml" title="TEST" href="/TEST/rss/" />
    <link rel="canonical" href="TEST" />
    <!-- SPECIFIC META BLOCK END -->

    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "budapestrivercruise.co.uk",
          "url": "https://budapestrivercruise.co.uk/",
          "sameAs": [
              "https://www.facebook.com/budapestrivercruise.co.uk/",
              "https://www.pinterest.com/budapestrivercruise.co.uk/",
              "https://twitter.com/budapestrivercruise.co.uk",
              "https://www.instagram.com/budapestrivercruise.co.uk/"
          ],
          "potentialAction": {
              "@type": "SearchAction",
              "target": "https://budapestrivercruise.co.uk/product?s={search_term_string}",
              "query-input": "required name=search_term_string"
          }
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-day-picker/lib/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>#app-container > div{height:100%;}#app-container > div > div{min-height:55%;}</style>
</head>
<body >
<!--[if lte IE 9]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div id="app-container" style="height:100%">
</div>
</body>
</html>
