.button{
    display:inline-block;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 40px;
    color:white;
    background-color: #d36e52;
    margin:20px auto;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}