.productCheckoutContainer {
    border: 1px solid #000;
    padding: 10px;
    
    h4 {
        margin: 10px;
    }
}

.productName {

}

.bookingDate {

}

.bookingTime {

}

.totalPrice {

}

.section {
    margin: 10px 0;
}
